@import './varibails';

// global style in pages
.section {
    padding: 40px 0;
}

.head-title {
    text-align: center;
    font-size: 36px;
}

// .buttons {
//     display: flex;
//     justify-content: center;
//     margin-top: 20px !important;
//     margin-bottom: 40px !important;

//     .button {
//         border-color: #dbdede !important;
//         color: #989898 !important;
//         font-size: 18px;
//         padding: 10px 20px 12px;
//         transition: all 0.25s ease-in-out;
//         height: auto;
//         min-width: 250px;

//         &:hover {
//             background-color: $secondColor !important;
//             color: #fff !important;
//         }
//     }
// }


//   Start home page
